<div class="center">
    <h1>Add new game record</h1>
</div>

<div class="center">

    <form #gameForm="ngForm" (ngSubmit)="onSubmitGame(gameForm)">

        <div class="form-group">
            <label>Session Name</label>
            <input class="form-control" name="name" #name="ngModel" [(ngModel)]="game.name"
                   placeholder="Session Name"
                   required>
            <span class="fst-italic">Example format: FutBuddy Game #1</span>
        </div>

        <div class="form-group">
            <label>Location</label>
            <input class="form-control" name="location" #name="ngModel" [(ngModel)]="game.location"
                   placeholder="Location Name"
                   required>
            <span class="fst-italic">Example format: Republic of Futsal, PJ</span>
        </div>

        <div class="form-group mt-2">
            <label>Date</label>
            <input class="form-control" name="date" #name="ngModel" [(ngModel)]="game.date"
                   placeholder="Date of game"
                   required>
            <span class="fst-italic">Example format: 26th August 2023, Saturday Night</span>
        </div>

        <div class="form-group mt-2">
            <label>Time</label>
            <input class="form-control" name="time" #name="ngModel" [(ngModel)]="game.time"
                   placeholder="Time of game"
                   required>
            <span class="fst-italic">Example format: 7.00pm-9.00pm</span>
        </div>

        <div class="form-group mt-2">
            <label>Price</label>
            <input class="form-control" name="price" #name="ngModel" [(ngModel)]="game.price"
                   placeholder="Price"
                   required>
            <span class="fst-italic">Example format: RM25</span>
        </div>

        <div class="form-group mt-2">
            <label>Number Of Players</label>
            <input class="form-control" name="numOfPlayers" #name="ngModel" [(ngModel)]="game.numOfPlayers"
                   placeholder="Number Of Players"
                   required>
            <span class="fst-italic">Example format: 15</span>
        </div>

        <div class="form-group mt-2">
            <label>Status</label>
            <select class="form-select" name="status" #name="ngModel" [(ngModel)]="game.status">
                <option value="ACTIVE">Active</option>
                <option value="FINISHED">Finished</option>
            </select>

        </div>

        <div class="form-group float-right mt-3">
            <button type="submit" class="btn btn-success" [disabled]="!gameForm.valid" [disabled]="gameForm.invalid">
                Add Game
            </button>
        </div>

    </form>
</div>
